<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="passwordHash" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordHash.errors }" />
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register instead</a>
      </div>
    </form>
  </div>
</div>

